@import "../../../styles/breakpoints.scss";

.industries {
  width: 100%;
  min-height: fit-content;
  background: #0b2845;
  overflow: hidden;
}
.industries__text {
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 10px;
  @include media("<=phone") {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
  }
}
.industries .industries__text h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.34px;
  @include media("<=phone") {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: -1px;
  }
}
.industries .industries__text p {
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;
  text-align: center;
  color: #b2b2b2;
  font-size: 15px;
  line-height: 21px;
  font-family: var(--font-secondary);
  @include media("<=phone") {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
  }
}
.industries .industries__text p:nth-child(1) {
  color: #fff;
  margin-bottom: 12px;
}

.industries .content {
  display: flex;
  padding: 3rem 100px 60px 100px;
  position: relative;
  @include media("<=phone") {
    padding: 0;
  }
}
.content .content__options {
  width: 25%;
  height: 47vh;
  padding-right: 4rem;
  @include media("<=phone") {
    display: none;
  }
}
.optionSliderForMobile{
  padding-bottom: 10px;
  width: 150%;
  @include media(">=phone") {
    display: none;
  }
  @include media("<=phone") {
    display: block;
  }
}
.option {
  padding: 0.8rem;
  height: 9vh;
  width: 100%;
  @include media("<=phone") {
    height: fit-content;
  }
}
.option .optionWrapper {
  padding: 12px 14px;
  border: 2px solid rgba(94, 91, 91, 0.6);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.option .optionWrapper:hover {
  background: rgba(28, 55, 82, 0.4);
}

.option.active .optionWrapper {
  border: 1px solid var(--primary-color);
}
.option .optionWrapper {
  display: flex;
}
.option .optionWrapper .logo,
.option .optionWrapper .text {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  font-family: var(--font-secondary);
}
.option .optionWrapper .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  margin-right: 1.5rem;
}

.industries .content .arrowButton {
  position: absolute;
  top: 55vh;
  left: 16rem;
  color: var(--primary-color);
  font-size: 1.2rem;
  cursor: pointer;
  @include media("<=phone") {
    display: none;
  }
}
// ////////////////////////////////////////////////////////////////
// ////////////////////////////////////////////////////////////////
.content .content__detail {
  width: 75%;
  padding-left: 50px;
  @include media("<=phone") {
    width: 100%;
    padding-left: 0;
  }
}
.content .content__detail .wrapper {
  width: 100%;
  min-height: 50vh;
  border-radius: 8px;
  background: #243d57;
  padding: 2rem;
  @include media("<=phone") {
    padding: 20px;
  }
}
.content .content__detail .wrapper.activeAnim {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.content .content__detail .wrapper .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffff;
  margin-bottom: 24px;
}
.content .content__detail .wrapper .heading h3 {
  font-family: var(--font-secondary);
  font-size: 22px;
  line-height: 28px;
  color: #fcfcfc;
  @include media("<=phone") {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.00272em;
  }
}
.content .content__detail .wrapper .heading span {
  color: #175fff;
  font-size: 1.2rem;
}
.content .content__detail .wrapper .elements {
  display: flex;
}
.content .content__detail .wrapper .elements .image {
  width: 30%;
}
.content .content__detail .wrapper .elements .image img {
  width: 100%;
  @include media("<=phone") {
    width: 110px;
    height: 247px;
    object-fit: cover;
    border-radius: 6px;
  }
}
.content .content__detail .wrapper .elements .text {
  width: 70%;
  padding-left: 2rem;
}
.elements .text p {
  font-size: 15px;
  font-family: var(--font-secondary);
  color: #ccc;
}
h4 {
  margin-top: 35px;
  color: #ccc !important;
  font-family: var(--font-secondary);
  font-size: 18px;
  line-height: 21px;
}
.text h4 {
  @include media("<=phone") {
    display: none;
  }
}
ul.listInMobile {
  @include media(">=phone") {
    display: none;
  }
  @include media("<=phone") {
    display: block;
  }
}
ul.listInDesktop {
  @include media("<=phone") {
    display: none;
  }
  @include media(">=phone") {
    display: block;
  }
}

ul {
  margin-top: 1rem;
  list-style: none;
}
ul li {
  color: #b2b2b2 !important;
  margin-bottom: 14px;
  display: flex;
  font-weight: 500;
  font-family: var(--font-primary);
  @include media("<=phone") {
    margin-bottom: 5px;
  }
}
ul li div:nth-child(1) {
  margin-right: 1rem;
  color: var(--primary-color);
  font-size: 1.5rem;
  @include media("<=phone") {
    font-size: 1.5rem;
  }
}
ul li div:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
  @include media("<=phone") {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
}
