.header {
  min-height: 100vh;
  width: 100%;
  background: url(../../assets/Home/unsplash_1lfI7wkGWZ4.png) no-repeat center
    center / cover;
  position: relative;

  &__text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    h1 {
      text-align: center;
      color: #ffff;
      font-size: 48px;
      line-height: 56px;
      font-weight: 700;
    }
    p {
      text-align: center;
      color: #ffff;
      font-size: 26px;
      font-weight: 700;
      margin-top: 20px;
    }

    .btnGroup {
      display: flex;
      justify-content: center;
      margin-top: 2rem;

      button {
        width: 192px;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 6px;
        outline: none;
        margin-right: 2rem;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        &:nth-child(1) {
          background-color: #175fff;
          color: #fff;
        }
        &:nth-child(2) {
          background-color: #e7f1fe;
          color: #175fff;
          border: 2px solid #175fff;
        }
      }
    }
  }

  &__option {
    width: 100%;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .block {
      height: 10.5rem;
      width: 10.5rem;
      padding: 2rem;
      img {
        width: 1.5rem;
      }
      h4 {
        font-size: 1rem;
        margin-top: 1rem;
      }
    }
    .block.first {
      background: #175fff;
      color: #fff;
    }
    .block.second {
      background: #0b2845;
      color: #fff;
    }
    .logo {
      height: 5rem;
      width: 5rem;
      margin-right: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .text {
      width: 10%;
      margin-right: 4rem;
      color: #808080;
    }
  }
}
