.feedback {
  width: 100%;
  min-height: 84vh;
  position: relative;

  &__text {
    padding-top: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    h1 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 36px;
      line-height: 42px;
      font-weight: 600;
      letter-spacing: -0.34px;
    }
    p {
      width: 50%;
      margin: auto;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 15px;
      line-height: 21px;
      font-family: var(--font-secondary);
      color: rgba(0, 0, 0, 0.7);
      &:nth-child(1) {
        color: #808080;
      }
    }
  }

  .slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    .allFeedBacks {
      margin-top: 4rem;
      padding: 0 10rem;
      align-items: center !important;
      .feedback {
        min-height: fit-content;
        border-radius: 8px;

        padding: 2rem;
        &__container {
          background: #fff;
          min-height: fit-content;
          border-radius: 8px;
          padding: 1.5rem;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          .logo {
            color: gray;
            font-size: 2rem;
          }
          .text {
            font-size: 15px;
            line-height: 21px;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            font-family: var(--font-secondary);
            color: rgba(0, 0, 0, 0.5);
          }
          .user {
            display: flex;
            align-items: center;
            &__image {
              width: 40px;
              margin-right: 1rem;
              img {
                width: 100%;
              }
            }
            &__name {
              font-size: 14px;
              font-weight: 20px;
              font-weight: 600;
              color: rgba(0, 0, 0, 0.8);
            }
          }
        }
      }
    }

    .sliderArrow1,
    .sliderArrow2 {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      font-size: 2rem;
      color: var(--primary-color);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      &:hover {
        background: #e7f1fe;
      }
    }
    .sliderArrow1 {
      left: 5rem;
    }
    .sliderArrow2 {
      right: 5rem;
    }
  }

  .slick-slide.slick-center{
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
  }
}
