.gcontact {
  width: 100%;
  display: flex;

  &__left {
    width: 55%;
    background: #175fff;
    padding: 6rem 120px 5rem 120px;
    h1 {
      font-weight: 600;
      font-size: 36px;
      line-height: 46px;
      letter-spacing: -0.34px;
      color: #fcfcfc;
      margin-bottom: 1.5rem;
      font-family: var(--font-primary);
    }
    p {
      width: 80%;
      font-size: 15px;
      line-height: 21px;
      color: #f2f2f2;
      font-family: var(--font-secondary);
    }
    form {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      .inputGroup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        input {
          width: 49%;
          padding: 20px 30px;
          font-size: 1rem;
          border-radius: 3px;
          background: var(--white-color);
          outline: none;
          border: none;
          font-family: var(--font-secondary);
        }
      }
      textarea {
        width: 100%;
        padding: 15px 30px;
        font-size: 1rem;
        background: var(--white-color);
        outline: none;
        border: none;
        font-family: var(--font-secondary);
      }
      button {
        height: 50px;
        width: 162px;
        font-size: 15px;
        outline: none;
        border: none;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        background: #e7f1fe;
        margin-top: 1rem;
        font-family: var(--font-secondary);
        cursor: pointer;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__right {
    width: 45%;
    background: url(../../assets/Global/Contact/back.png) no-repeat center
      center / cover;
  }
}
