.footer{
    width: 100%;
    min-height: 20vh;
    display: flex;
    padding: 80px 180px;

    h3{
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }

    &__one{
        width: 26%;
        img{
            width: 55%;
            margin-bottom: 1.2rem;
        }
        p{
            width: 70%;
            font-size: 15px;
            line-height: 21px;
        }
    }
    &__two{
        width: 25%;
        a{
            display: block;
            text-decoration: none;
            margin-top: 1rem;
            font-size: 1rem;
            color: var(--black-color);
        }
    }
    &__three{
        width: 23%;
        a{
            display: block;
            text-decoration: none;
            margin-top: 1rem;
            font-size: 1rem;
            color: var(--black-color);
        }
    }
    &__four{
        width: 26%;
        div{
            margin-top: 1.5rem;
            p{
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
            }
        }
    }
}

.copyright{
    background: #ccc;
    color: var(--black-color);
    padding: 10px;
    text-align: center;
    font-size: 15px;
}