.talk {
  width: 100%;
  display: flex;
  &__text {
    width: 55%;
    background: #175fff;
    padding: 6rem 10rem;
    h1,
    p {
      color: #fff;
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 1.5rem;
      font-family: var(--font-primary);
    }
    p {
      font-size: 1rem;
      line-height: 1.5rem;
      font-family: var(--font-primary);
    }
    .btnGroup {
      display: flex;
      margin-top: 2rem;
      a {
        display: inline-block;
        text-decoration: none;
        padding: 15px 32px;
        color: #fff;
        margin-right: 1.5rem;

        &:first-child {
          background: var(--primary-color-light);
          color: var(--primary-color);
        }
      }
    }
  }
  &__right {
    width: 45%;
    background: url(../../assets/Portfolio/p3.png) no-repeat center center /
      cover;
  }
}
