.enterprize {
  width: 100%;
  padding: 6rem 10rem;
  background: var(--secondary-color);
  &__text {
    h1 {
      text-align: center;
      color: #fff;
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 36px;
      line-height: 42px;
    }
    p:nth-child(1) {
      color: #fff;
      font-size: 15px;
      line-height: 21px;
    }
    p {
      width: 50%;
      margin: auto;
      margin-bottom: 1rem;
      text-align: center;
      color: #b2b2b2;
      font-weight: 400;
      font-size: 15px;
      line-height: 31px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;

    .element {
      width: 18%;
      display: flex;
      border: 1px solid #1c3752;
      padding: 1rem;
      border-radius: 6px;

      div {
        color: var(--white-color);
      }
      .logo {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
      }
      .text {
        width: calc(100% - 30px);
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  .globalLink {
    margin-top: 4rem;
    text-align: center;
    a {
      width: 202px;
      height: 56px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      background: var(--primary-color);
      color: var(--white-color);
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      margin: auto;
    }
  }
}
