.services {
  width: 100%;
  min-height: 100vh;
  background-color: #e5e5e5;
  position: relative;

  &__text {
    padding-top: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    h1 {
      text-align: center;
      span {
        color: #175fff;
      }
    }
    p {
      width: 50%;
      margin: auto;
      text-align: center;
    }
  }

  &__all {
    width: 100%;
    margin-top: 5rem;
    padding-bottom: 3rem;
    overflow: hidden;
    .slider {
      width: 120%;
      margin-left: -8%;
      .service {
        width: 20%;
        height: fit-content;
        padding: 2rem;
        &__content {
          width: 100%;
          height: fit-content;
          background: #fff;
          box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
          border-radius: 8px;
          padding: 4rem 2rem;

          img {
            width: 3rem;
            margin-bottom: 1.5rem;
          }
          h3 {
            font-size: 21px;
            margin-bottom: 1.5rem;
          }
          p {
            font-size: 1rem;
            text-align: left;
          }
          a {
            text-decoration: none;
            font-size: 1rem;
            span {
              font-size: 2rem;
            }
          }
        }
      }
    }
    .globalLink {
      width: 100%;
      text-align: center;
      padding: 2rem 0;
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 1.2rem;
          margin-top: 5px;
          margin-left: 10px;
        }
      }
    }
  }
  .img1,
  .img2 {
    position: absolute;
  }
  .img1 {
    top: -2rem;
    left: 3rem;
  }
  .img2 {
    right: 4rem;
    bottom: -2rem;
  }
}
