.what {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  &__identity {
    width: 100%;
    display: flex;
    padding: 6rem 10rem;

    .head {
      width: 50%;
      p {
        color: var(--primary-color);
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
      }
      h2 {
        font-weight: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 42px;
        letter-spacing: -0.34px;
        margin-top: 1rem;
      }
    }
    .text {
      width: 50%;
      p {
        margin-bottom: 2rem;
        line-height: 2rem;
        font-size: 15px;
        line-height: 21px;
        font-weight: 400;
        letter-spacing: -0.041966px;
        font-family: var(--font-secondary);

        &:last-child {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: -2rem;
            left: 0;
            width: 10rem;
            height: 1px;
            background: gray;
          }
        }
      }
    }
  }

  &__enterprize {
    margin-top: 2rem;
    padding: 0 10rem;

    .wrapper {
      display: flex;
      min-height: 50vh;
      border-radius: 6px;
      background: #e5e5e5;
      padding: 1.5rem;
    }

    .image {
      width: 35%;
      img {
        width: 100%;
      }
    }
    .text {
      width: 65%;
      padding-left: 2rem;
      p.secondaryHead {
        color: var(--primary-color);
        font-weight: 500;
        font-size: 21px;
        line-height: 26px;
      }
      h2 {
        font-weight: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -0.34px;
        margin-top: 1rem;
      }
      .missionVission {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #ccc;
        .mission,
        .vission {
          width: 48%;
          margin-top: 1.5rem;
          h4 {
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            font-family: var(--font-secondary);
          }
          .textt {
            display: flex;
            margin-top: 0.8rem;
            div {
              &:first-child {
                width: 40px;
                color: var(--primary-color);
              }
              &:last-child {
                width: calc(100% - 40px);
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
              }
            }
          }
        }
      }

      .finalTxt {
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 21px;
          font-family: var(--font-secondary);
          &:first-child {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }

  .options {
    width: 110%;
    padding-top: 5rem;
    padding-bottom: 6rem;
    margin-left: -3%;

    .option {
      width: 100%;
      height: 10vh;
      padding: 0 2rem;
      .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px;
        padding: 1.3rem;
        background: var(--white-color);
        box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
        .left {
          width: 80%;
          display: flex;
          align-items: center;
          div {
            font-weight: 500;
            font-size: 30px;
            line-height: 42px;
          }
          div {
            &:first-child {
              font-weight: 600;
              font-size: 30px;
              line-height: 42px;
              color: var(--primary-color);
              margin-right: 1rem;
            }
          }
        }
        .right {
          width: 20%;
          color: var(--primary-color);
          font-weight: 500;
          font-size: 36px;
          line-height: 42px;
        }
      }
    }
  }
}
