.works {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 6rem;

  &__text {
    padding: 6rem 10rem 0 10rem;
    h1 {
      text-align: center;
      span {
        color: #175fff;
      }
      margin-bottom: 24px;
      font-size: 36px;
      line-height: 42px;
      font-weight: 500;
      letter-spacing: -0.34px;
    }
    p {
      width: 50%;
      margin: auto;
      text-align: center;
      font-size: 15px;
      line-height: 21px;
    }
  }

  .slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .allworks {
      margin-top: 4rem;
      padding: 0 100px;
      .work {
        height: 63vh;
        border-radius: 8px;
        padding: 2rem;
        &__container {
          background: #fff;
          height: 57vh;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
          border: 1px solid transparent;
          transition: 0.3s;
          &:hover {
            border: 1px solid rgba(0, 0, 0, 0.2);
          }
          .image {
            width: 100%;
            height: 35vh;
            img {
              width: 100%;
            }
          }
          .content {
            padding: 2rem;
            h4 {
              font-size: 21px;
              line-height: 26px;
              font-weight: normal;
            }
            p {
              display: block;
              font-size: 15px;
              line-height: 21px;
              font-weight: 400;
              font-family: var(--font-secondary);
              margin-bottom: 20px;
              margin-top: 14px;
            }
            a {
              font-size: 14px;
              line-height: 20px;
              font-weight: 600;
              text-decoration: none;
              color: var(--primary-color);
            }
          }
        }
      }
    }
    .sliderArrow1,
    .sliderArrow2 {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      font-size: 1.8rem;
      color: var(--primary-color);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      &:hover {
        background: #e7f1fe;
      }
      &:active {
        background: #9ec8fa;
      }
    }
    .sliderArrow1 {
      left: 50px;
    }
    .sliderArrow2 {
      right: 50px;
    }
  }

  a.global {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #325ce8;
    span {
      font-size: 1.2rem;
      margin-top: 5px;
      margin-left: 10px;
      font-weight: bold;
      transition: all 0.3s;
    }
    &:hover span {
      transform: translateX(7px);
    }
  }
}
